.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-item {
  border: 1px solid #95a0a7;
  border-radius: 10px;
  padding: 8px;
  margin-top: 21px;
  width: 571px;
  height: 107;
  display: flex;
}

.review-item img {
  width: 91px;
  height: 91px;
  margin-right: 17px;
  margin-top: 10px;
}
.review-item-details {
  font-size: 21px;
  font-weight: 400;
}
.review-item-details p {
  margin: 2px;
}
.review-item-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: rgba(235, 87, 87, 0.3);
  border: 0;
  cursor: pointer;
}
.icon {
  width: 28px;
  height: 32px;
  color: #eb5757;
}
